@*
    This file is partial for movie index.cshtml
*@
@model MovieResponseModel;
    <div class="col-4">
    <div class="card" style="width: 18rem;">
  <img src="@Model.PosterUrl" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">@Model.Title</h5>
    <p class="card-text">@Model.Overview</p>
    <a target="_blank" asp-controller="movie" asp-action="detail"asp-route-id="@Model.Id" class="btn btn-primary">Show Details</a>
  </div>
</div>
</div>
