@*
    This file is partial for movie index.cshtml
*@
@model MovieResponseModel;


    <div class="col-4 mb-4">
    <div class="card" style="width: 18rem;">
  
  <div class="card-body">
    <a target="_blank" asp-controller="movie" asp-action="detail"asp-route-id="@Model.Id"><img src="@Model.PosterUrl" class="card-img-top" alt="..."></a>
  </div>
</div>
</div>

