@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model CastModel
@*asp-for is the type of the model*@
   <h3 class="display-3">Add Cast</h3>


   <form method="post" asp-action="Create" asp-controller="Cast">
   <div class="container">
       <div class="my-3">
           <label asp-for="Name"></label>
           <input asp-for="Name" class="form-control"/>
           <span asp-validation-for="Name" class="text-danger"></span>
       </div>
         <div class="my-3">
           <label asp-for="Gender"></label>
           <select asp-for="Gender" class="form-select" asp-items="ViewBag.Gender">
                <option selected>Open this select menu</option>

           </select>
           <span asp-validation-for="Gender" class="text-danger"></span>
       </div>
         <div class="my-3">
              <label asp-for="TmdbUrl"></label>
           <input asp-for="TmdbUrl" class="form-control"/>
            <span asp-validation-for="TmdbUrl" class="text-danger"></span>
       </div>
              <div class="my-3">
                   <label asp-for="ProfilePath"></label>
           <input asp-for="ProfilePath" class="form-control"/>
            <span asp-validation-for="ProfilePath" class="text-danger"></span>
       </div>
       <input type="submit" value="Add Cast" class="btn-primary btn-primary" />
   </div>

   </form>