@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<CastModel>;
 <h4 class="display-4">
    @ViewBag.Titile
</h4>
    
<div class="row">
@foreach(var m in Model){
    <div class="col-4 mb-4">
    <div class="card" style="width: 18rem;">
  <img src="@m.ProfilePath" onerror="this.onerror=null;this.src='https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/A_black_image.jpg/640px-A_black_image.jpg'" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">@m.Name</h5>
  

    <a target="_blank" asp-protocol="https" asp-controller="" asp-host="@m.TmdbUrl.Remove(0,8)" asp-action="" asp-route-id="" class="btn btn-primary">Show Details</a>
  </div>
</div>
</div>
}
</div>

